<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  {% seo %}

  <!-- Bootstrap -->
  <link href="{{ site.baseurl }}/bootstrap.css" rel="stylesheet">

  <style>
    main.container {
      padding: 40px 0;
    }
  </style>

  {% feed_meta %}

  <!-- Mapbox GL -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mapbox-gl/0.44.2/mapbox-gl.js" integrity="sha256-HoIT93Kf6jzQADPlOXHpiHxV07uODlvAwkQkXSeMrKQ="
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mapbox-gl/0.44.2/mapbox-gl.css" integrity="sha256-cGWbyUKK15NTrYzmY8SzsUWvEJpbPjHAYvfHWHBtBPc="
    crossorigin="anonymous" />
</head>